.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  background-color: #fafafa;
}

.footer {
  background-color: var(--dark-color);
  color: white;
  padding: 2rem 0;
  margin-top: 4rem;
  text-align: center;
}

.footer p {
  margin: 0;
}
